venv/
CAD Files/
Scan Data/
.venv/
SoftwareDemo/GantryFunctionality/MotorTest/.venv/
/SoftwareDemo/GantryFunctionality/MotorTest/__pycache__
NeuroNauts/Scan Data/
NeuroNauts/testdummydata3/
SoftwareDemo/GantryFunctionality/MotorTest/position.txt
SoftwareDemo/GantryFunctionality/MotorTest/position.txt
/SoftwareDemo/GantryFunctionality/MotorTest/__pycache__
NeuroNauts/testdummydata3/
NeuroNauts/.venv/
NeuroNauts/Scan Data/
SoftwareDemo/GantryFunctionality/MotorTest/current_index.txt
SoftwareDemo/GantryFunctionality/MotorTest/position.txt
SoftwareDemo/PiCamera/faceposition.json
NeuroNauts/Scan Data-20251205T225858Z-3-001.zip
Safehaven-Lua/dumps/
Safehaven-Lua/sar_heatmap_xy_max.png
Safehaven-Lua/sar_heatmap_xz.png
Safehaven-Lua/sar_heatmap_yz.png
Safehaven-Lua/sar_image_python.png
Safehaven-Lua/sar_scan_rev11_6.lua
Safehaven-Lua/dumps - Copy/
Safehaven-Lua/dumps - firstworkingcopy/
NeuroNauts/sar_heatmap_yz.png
NeuroNauts/sar_heatmap_xz.png
NeuroNauts/sar_heatmap_xy_max.png
Safehaven-Lua/dumps - second-realize_theres_a_transposition_issue/
Safehaven-Lua/cranidump/
Safehaven-Lua/sar_3d_scatter.html
Safehaven-Lua/sar_3d_scatter copy.html
SoftwareDemo/uv.lock
Safehaven-Lua/dumps*
Safehaven-Lua/sar_interactive_slic*
Safehaven-Lua/sar_3d_scatter*
Safehaven-Classification/output_images/
Safehaven-Classification/train/
.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
CapstoneProject/frontend/node_modules/
CapstoneProject/frontend/dist/
CapstoneProject/frontend/tsconfig.tsbuildinfo
CapstoneProject/backend/logs/
CapstoneProject/backend/runs/
